/* Global CSS, you probably don't need that */
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.container {
  font-family: 'Lato', sans-serif;
  width: 1000px;
  margin: 0 auto;
}

.wrapper {
  display: table-cell;
  height: 400px;
  vertical-align: middle;
}

/* arrow-steps standalone CSS (you dont need the above) */

  .arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 180px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    transition: background-color 0.2s ease;
  }

  .arrow-steps .step:after,
  .arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #d9e3f7;  
    z-index: 2;
    transition: border-color 0.2s ease;
  }

  .arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff; 
    z-index: 0;
  }

  .arrow-steps .step:first-child:before {
    border: none;
  }

  .arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .arrow-steps .step span {
    position: relative;
  }

  .arrow-steps .step span:before {
    opacity: 0;
    /*content: "✔";*/
    content: "Done";
    color: #fff;
    position: absolute;
    /*top: -2px;*/
    /*left: -20px;*/
  }

  .arrow-steps .step.done {
    background-color: #44cc6c;
    color: #44cc6c;
  }
  .arrow-steps .step.done:after {
    border-left: 17px solid #44cc6c;  
  }

  .arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
  }

  .arrow-steps .step.current {
    color: #fff;
    background-color: #407aef;
  }

  .arrow-steps .step.current:after {
    border-left: 17px solid #407aef;  
  }

  /* arrow-steps-short standalone CSS (you dont need the above) */

    .arrow-steps-short .step {
      /* These are different */
      font-size: 12px;
      /* ./These are different */
      text-align: center;
      color: #666;
      cursor: default;
      margin: 0 3px;
      /* These are different */
      padding: 8px 10px 8px 30px;
      /* ./These are different */
      min-width: 180px;
      float: left;
      position: relative;
      background-color: #d9e3f7;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; 
      transition: background-color 0.2s ease;
    }

    .arrow-steps-short .step:after,
    .arrow-steps-short .step:before {
      content: " ";
      position: absolute;
      top: 0;
      right: -17px;
      width: 0;
      height: 0;
      /* These are different */
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 17px solid #d9e3f7;  
      /* ./These are different */
      z-index: 2;
      transition: border-color 0.2s ease;
    }

    .arrow-steps-short .step:before {
      right: auto;
      left: 0;
      border-left: 17px solid #fff; 
      z-index: 0;
    }

    .arrow-steps-short .step:first-child:before {
      border: none;
    }

    .arrow-steps-short .step:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .arrow-steps-short .step span {
      position: relative;
    }

    .arrow-steps-short .step span:before {
      opacity: 0;
      /*content: "✔";*/
      content: "Done";
      color: #fff;
      position: absolute;
      /*top: -2px;*/
      /*left: -20px;*/
    }

    .arrow-steps-short .step.done {
      background-color: #44cc6c;
      color: #44cc6c;
    }
    .arrow-steps-short .step.done:after {
      border-left: 17px solid #44cc6c;  
    }

    .arrow-steps-short .step.done span:before {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease 0.5s;
      -moz-transition: opacity 0.3s ease 0.5s;
      -ms-transition: opacity 0.3s ease 0.5s;
      transition: opacity 0.3s ease 0.5s;
    }

    .arrow-steps-short .step.current {
      color: #fff;
      background-color: #407aef;
    }

    .arrow-steps-short .step.current:after {
      border-left: 17px solid #407aef;  
    }